.todo-point {
  width: 80%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  background-color: white;
  cursor: pointer;
  & > * {
    cursor: pointer;
  }
  &:hover {
    transform: scale(1.1);
    z-index: 99;
  }
  & > .checkbox {
    margin-left: 10%;
  }
  &__title {
    margin: 5px 10%;
    font-size: 1.5em;
    word-wrap: break-word;
    &.completed {
      text-decoration: line-through;
    }
  }
}
