.navigation {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  box-shadow: 2px 2px 20px grey;
  border-radius: 0px 0px 20px 20px;
  &-link {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:first-of-type {
      margin-left: 25%;
    }
    &:last-of-type {
      margin-right: 25%;
    }
  }
}
